<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.grupo5.cftapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mantenimientos.Testigo.TestigoConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Testigo.TestigoActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Testigo.TestigoEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Testigo.TestigoInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.SolicitudImpresa.SolicitudImpresaActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.SolicitudImpresa.SolicitudImpresaConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.SolicitudImpresa.SolicitudImpresaEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.SolicitudImpresa.SolicitudImpresaInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.EstadoEvaluacion.EstadoEvaluacionActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.EstadoEvaluacion.EstadoEvaluacionConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.EstadoEvaluacion.EstadoEvaluacionEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.EstadoEvaluacion.EstadoEvaluacionInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DiasNoHabiles.DiasNoHabilesConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DiasNoHabiles.DiasNoHabilesActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DiasNoHabiles.DiasNoHabilesEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DiasNoHabiles.DiasNoHabilesInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleSolicitud.DetalleSolicitudConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleSolicitud.DetalleSolicitudActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleSolicitud.DetalleSolicitudEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleSolicitud.DetalleSolicitudInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleRevision.DetalleRevisionConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleRevision.DetalleRevisionActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleRevision.DetalleRevisionEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleRevision.DetalleRevisionInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Estudiante.EstudianteConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Estudiante.EstudianteActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Estudiante.EstudianteEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Estudiante.EstudianteInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleLocal.DetalleLocalConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleLocal.DetalleLocalActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleLocal.DetalleLocalEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleLocal.DetalleLocalInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Evaluacion.EvaluacionConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Evaluacion.EvaluacionActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Evaluacion.EvaluacionEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Evaluacion.EvaluacionInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.GrupoMateriaCiclo.GrupoMateriaCicloActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoEvaluacion.TipoEvaluacionActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoEvaluacion.TipoEvaluacionConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoEvaluacion.TipoEvaluacionEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoEvaluacion.TipoEvaluacionInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.GrupoMateriaCiclo.GrupoMateriaCicloEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.GrupoMateriaCiclo.GrupoMateriaCicloConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.GrupoMateriaCiclo.GrupoMateriaCicloInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.MateriaCiclo.MateriaCicloActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.MateriaCiclo.MateriaCicloConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.MateriaCiclo.MateriaCicloEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.MateriaCiclo.MateriaCicloInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Materia.MateriaActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Materia.MateriaEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Materia.MateriaConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Materia.MateriaInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoGrupo.TipoGrupoActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoGrupo.TipoGrupoConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoGrupo.TipoGrupoEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoGrupo.TipoGrupoInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleDocente.DetalleDocenteConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleDocente.DetalleDocenteActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleDocente.DetalleDocenteEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.DetalleDocente.DetalleDocenteInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Tramite.TramiteConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Tramite.TramiteEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Tramite.TramiteActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Tramite.TramiteInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoTramite.TipoTramiteConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoTramite.TipoTramiteEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoTramite.TipoTramiteActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoTramite.TipoTramiteInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Local.LocalConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Local.LocalEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Local.LocalActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Local.LocalInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Docente.DocenteActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Docente.DocenteConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Docente.DocenteEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Docente.DocenteInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoDocente.TipoDocenteConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoDocente.TipoDocenteActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoDocente.TipoDocenteEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.TipoDocente.TipoDocenteInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.RolRevision.RolRevisionEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.RolRevision.RolRevisionConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.RolRevision.RolRevisionActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.RolRevision.RolRevisionInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Ciclo.CicloActualizarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Ciclo.CicloConsultarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Ciclo.CicloEliminarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".mantenimientos.Ciclo.CicloInsertarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".menu.TestigoActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".menu.SolicitudImpresaActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.EstadoEvaluacionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.DiasNoHabilesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.DetalleSolicitudActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.DetalleRevisionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.EstudianteActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.DetalleLocalActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.EvaluacionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.TipoEvaluacionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.GrupoMateriaCicloActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.MateriaCicloActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.MateriaActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.TipoGrupoActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.DetalleDocenteActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.TramiteActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.TramiteTipoActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.LocalActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.DocenteActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.TipoDocenteActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.TipoRolActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".menu.CicloActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/submenuActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/menuActivity">

        </activity>
    </application>

</manifest>